@page "/"
@rendermode InteractiveServer
@using BlazorWebSSD
@inject DisksConfig DisksConfig

<h3>Диски и разделы</h3>

@code {
    private bool isProcessing = false;
    protected override void OnInitialized()
    {
    }
}