@*управление сетевыми папками*@
@page "/shared"
@rendermode InteractiveServer
@using BlazorWebSSD.Components.Rows
@inject SharedFoldersConfig SharedFoldersConfig
<h1>Сетевые папки</h1>
<h3>Добавить папку</h3>
<div class="d-flex align-items-center gap-2 mb-3">
    <input @bind="AddFolderName" class="form-control" style="width: 150px;" placeholder="Имя папки" />
    <select id="DiskSelect" class="form-select" style="width: 300px;"  @bind="SelectedValue">
        @if (Disks != null)
        {
            @for (int i=0;i< Disks.Count;i++)
            {
                <option value="@i.ToString()">@Disks[i]</option>
            }
        }
    </select>
    <button @onclick="AddFolder" class="btn btn-primary">Добавить</button>
</div>
<hr />
<h3>Список папок</h3>
@if (SharedFoldersConfig.SharedFolders != null)
{
    @for (int i = 0; i < SharedFoldersConfig.SharedFolders.Count; i++)
    {
        <SharedRow Folder=@SharedFoldersConfig.SharedFolders[i]></SharedRow>
    }
}

@code {
    private string AddFolderName = "";
    private string SelectedValue { get; set; } = "-1";
    private List<DiskInfo>? DisksI = null;
    List<string> Disks = null;
    protected override async Task OnInitializedAsync()
    {
        DisksI = await DiskManager.GetDisksAsync();
        if (DisksI == null) return;
        Disks = new List<string>();
        for (int i = 0; i < DisksI.Count; i++)
        {
            Disks.Add(DisksI[i].DeviceName);
        }
    }
    private void AddFolder()
    {
        int i = -1;
        if (!int.TryParse(SelectedValue,out i))
            return;
        if (i == -1)
            return;
        SharedFolder folder=new SharedFolder();
        folder.Folder = AddFolderName;
        folder.MainDisk = DisksI[i].Serial;
        SharedFoldersConfig.AddUpdateFolder(folder);
    }
}
