@page "/weather"
@*@attribute [StreamRendering]*@
@rendermode InteractiveServer
@inject NasService NasService

<button @onclick="MountAll">Mount All</button>
<button @onclick="UnMountAll">Unmount All</button>

@code {
    protected override async Task OnInitializedAsync()
    {
    }
    private void MountAll()
    {
        NasService.MountAllDisks();
    }
    private void UnMountAll()
    {
        NasService.UnmountAll();
    }
}
