@page "/weather"
@*@attribute [StreamRendering]*@
@rendermode InteractiveServer
@inject NasService NasService


<h3>Mount</h3>
<button @onclick="NasService.MountAllDisks">Mount All</button>
<button @onclick="NasService.MountAllShare">Mount All Shared</button>
<button @onclick="NasService.MountAllBackUp">Mount All BackUp</button>

<button @onclick="NasService.UnmountAll">Unmount All</button>
<button @onclick="NasService.UnmountAllShared">Unmount All Shared</button>
<button @onclick="NasService.UnmountAllBackUp">Unmount All BackUp</button>

<hr />

<h3>Samba</h3>


@code {
    protected override async Task OnInitializedAsync()
    {
    }
}
